checkpoints/
out/

/test.py
/data/
/figs/
/img/
/add_reproduce.py
/experiments/other_approaches/orthogonal_trans.py
/check_singular_value.py
/environment.yml

# Checkpoint
*.pt
/permuted_models/

/.idea/
/__pycache__/

# Whitelist
!/permuted_models/white_box/**/results/
!/permuted_models/white_box/**/results/*
!/permuted_models/black_box/**/results/
!/permuted_models/black_box/**/results/*
/try.py
/network_setting.py

/experiments/perm_all_layers/cmp_black_grey_white/draw_white_grey_black_comp.py
*.pyc
/cache_dir/
