checkpoints/
out/

/test.py
/data/
/figs/
/img/
/add_reproduce.py
/orthogonal_trans.py
/check_singular_value.py
/environment.yml

# Checkpoint
*.pt
/permuted\ models/


# Whitelist
!/permuted\ models/white\ box/**/results/
!/permuted\ models/white\ box/**/results/*
!/permuted\ models/black\ box/**/results/
!/permuted\ models/black\ box/**/results/*